    <navbar></navbar>
   <router-outlet></router-outlet>
    <!-- <h1>{{'Title Name: ' + title }}</h1>
        
    <ul>
        <li *ngFor = "let c of cou"> {{c}} </li>
    </ul> -->

    
   
        <!-- <div class="row gx-5 container px-4">
          <div class="col">
                <div (click)="isDivClicked($event)" class="p-5 border bg-light">
                        <button class="ctrl-Active" (click)="isClicked($event)">SaVe </button></div>
                <div class="p-5 border bg-light" *ngIf = "cou.length > 0">
                        <button class ="ctrl-Active" (click)= "isClicked($event)">Select</button></div>
          </div> -->

          <!-- <span class="bag-check "
                          [class.bag-check]="isSelected" 
                          [class.bag-check-fill]="!isSelected"
                          (click)="onClick()" role="img" >
                          <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
                          <textarea id="text" ></textarea>

                          <p> My Text is {{ textsel}}</p>
          </span>
          -->
         
        